
#content {
    padding-left: 15%;
    padding-right: 40%;
    margin-bottom: 10%;
}
#content > p {
    text-align: justify;
    text-indent: 10%;
}
#content > img {
    margin: auto;
    display: block;
    padding: 7% 0%;
}
#content > h1 {
    margin-top:20%;
}
@media only screen and (max-width: 768px) {
    /* For mobiles: */
    #content {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 10%;
        padding-top: 20px;
    }
    
}